body {
  margin: auto;
  width: 80%;
  color: #1e1d1c;
  background: #fcfbfa;
  font-family: 'Poiret One';
  font-size: 18px;
}

.heading h1 {
  font-size: 90px;
  font-weight: normal;
  text-align: center;
}

h1, h2 {
  text-align: center;
  font-weight: normal;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container > div {
  width: auto;
}

.spinner-container {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin: 20px 0 0 0;
}
.spinner {
  position: relative;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;  
  font-size: 1.5em;
  height: 2.5em;
}
.spinner li {
  line-height: 2.5em;
}

#whats-possible {
  /*display: none;*/
}
#whats-possible ul {
  list-style-type: square;
}

#action-info {
  display: none;
}

#buttons {
  padding: 1em;
}
button {
  font-family: 'Poiret One';
  font-weight: normal;

  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 0;

  background: #333;
  color: #fcfbfa;

  transition: all 222ms linear;
} button:hover {
  background: #39D184;
  cursor: pointer;
} button[disabled="disabled"] {
  background: #88D1AC;
  cursor: default;
}

#settings {
}
#settings-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 40px;
  cursor: pointer;
}
#settings-list {
  display: none;
  list-style-type: none;
}

#soundcloud-widget {
  display: none;
  width: 100%;
  height: 100px;
}

/* Override flipclock */
.flip-clock-label {
  display: none;
}
.clock {
  min-width: 300px;
}
